window#waybar {
    margin:  0px;
    padding: 0px;
    background-color: transparent;
}

.modules-left, .modules-center, .modules-right {
    margin-top: 8px;
    padding: 4px;
    border-radius: 8px;
    color: #f2f4f8;
    background-color: #393939;
}

.modules-left {
    margin-left: 16px;
    padding: 0px;
}

.modules-center {
    padding: 0px 16px;
}

.modules-right {
    margin-right: 16px;
    padding: 0px 16px;
}
#workspaces button {
    margin: 0px;
    padding: 6px;
}

#workspaces button.focused {
    margin: 0px;
    padding: 6px;
    background-color: #ee5396;
}
