window#waybar {
    margin:  0px;
    padding: 0px;
    background-color: transparent;
}

.modules-left, .modules-center, .modules-right {
    margin-top: 8px;
    border-radius: 8px;
    color: #f2f4f8;
}

.modules-left {
    padding: 0px;
    margin-left: 16px;
}

.modules-center {
    margin-right: 16px;
    padding: 8px 16px; 
    background-color: #262626;   
}

.modules-right {
    margin-right: 16px;
    padding: 8px 16px; 
    background-color: #262626;
}
#workspaces button {
    margin: 0px;
    padding: 8px;
    background-color: #262626;
}

#workspaces button.focused {
    margin: 0px;
    padding: 8px;
    background-color: #ee5396;
}

#clock {
    padding: 8px 16px;
    background-color: #262626;
    border-radius: 8px;
}

#window {
    padding: 8px 16px;
    background-color: #f2f4f8;
    color: #262626;
    border-radius: 8px;
}

window#waybar.empty #window {
    background-color: transparent;
}
