* {
   font-family: FontAwesome, "Noto Sans CJK Light";
   font-size: 10;
   color: #ffffff;
}

window#waybar {
   background: #191919;
   opacity: 0.7;
}

.modules-left {
    opacity: 1;
}
.modules-center {
    opacity: 1;
}
.modules-right {
    opacity: 1;
}

#workspaces button.active {
    background: #b82d4e;
    border: none;
    border-radius: 0;
}


